[package]
name = "websocket"
version = "0.1.0"
edition = "2024"

[dependencies]
axum = { version = "0.8.8", features = ["macros", "ws"] }
futures-util = { version = "0.3.31", features = ["sink", "std"], default-features = false}
transport = {path="../transport"}
